@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root{
    --white: #EDE9E9;
    --black: #272323;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--white);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    height: 196px;
    width: 100%;
    position: absolute;
    top: 2px;
}

header h1{
    font-size: 33.6px;
}

header .inputs{
    height: 54px;
    width: 390px;
    border-radius: 40px;
    border: none;
    background: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .inputs input{
    height: 100%;
    width: 337px;
    border-radius: 40px;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 20px;
    padding-top: 5px;
}

header .inputs input::placeholder{
    font-size: 20.59px;
    color: var(--white);
}

.inputs .add-btn{
  height: 53px;
  width: 54px;
  background: transparent;
  color: var(--white);
  text-align: center;
  border-radius: 40px;
  border: none;
  font-size: 20px;
  font-weight: 400px;
  transition: 0.3s;
}

.add-btn:hover{
    background: var(--white);
    color: var(--black);
    opacity: 0.7;
}

.note-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: calc(100vh - 196px);
    position: absolute;
    bottom: 2px;
    overflow-y: auto;
}

/* js styling */

.note{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    height: 316px;
    width: 295px;
    border: 3px solid var(--black);
    border-radius: 40px;
}

.note .title-view{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.note button{
    padding: 15px;
    border-radius: 40px;
    border: none;
    color: var(--black);
    background: var(--white);
    transition: 0.3s;
    font-size: 20px;
}

.note button:hover{
    background: var(--black);
    color: var(--white);
}

.note p{
   text-align: center;
   height: 205px;
   width: 291px;
   word-break: break-all;
}
